:root {
  --primary-color: #232323; /* Dark background for a modern look */
  --dark-color: #000000;
  --secondary-color: #2e2e2e; /* Slightly lighter gray for secondary elements */
  --text-color: #f0f0f0; /* Light text color for readability on dark backgrounds */
  --accent-color: #00bfa6; /* Teal color for accents like buttons and links */
  --border-color: #3a3a3a;
}

.box {
  background-color: var(--dark-color);
}
.jodit_theme_dark .jodit-wysiwyg {
  background-color: var(--primary-color) !important;
  color: var(--text-color);
}
.jodit-ui-group {
  background-color: var(--dark-color);
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif; /* Clean and modern font */
  color: var(--text-color);
}

.container,
.ant-layout-content,
.post-detail-container,
.create-post-container {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

.post-detail-content {
  max-width: 800px; /* Limit the width for better readability */
  margin: 2rem auto; /* Center the content horizontally */
  padding: 2rem; /* Add padding around the article */
  background-color: black;
}

.post-detail-header {
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  width: 100%;
}

.edit-icon .icon-style {
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
  margin-left: 0.5rem;
}

.post-detail-body {
  width: 100%;
  line-height: 1.8; /* Increase line height for readability */
}

.post-title {
  color: var(--text-color);
  font-weight: bold;
  text-align: left; /* Align title to the left */
  margin-bottom: 1rem;
  font-size: 2rem;
}

.post-description {
  text-align: left; /* Align description to the left */
  color: var(--text-color);
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.post-content {
  width: 100%;
  background: transparent; /* Remove background color for a cleaner article look */
  margin: 1rem 0;
  padding: 1rem;
  border: none; /* Remove border to enhance article feel */
  color: var(--text-color); /* Ensure text is readable */
}

input,
textarea,
.ant-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--text-color);
  margin: 0.5rem 0;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus,
.ant-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

button,
.ant-btn-primary {
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.ant-skeleton-button,
.save-button {
  background: var(--secondary-color);
  border-radius: 8px;
}

.popconfirm-btn,
.delete-icon {
  color: var(--accent-color);
  cursor: pointer;
}

.tooltip {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
